<div class="row">
	<div class="col-lg-offset-4">
		<div class="row">
			<iframe width="700" height="525" src="<%= video.source %>"></iframe>
		</div>

		<div class="row">
		<div class="col-lg-offset-6">
			<p>Título: <%= dojo.title %></p>
			<p>Categoria: <%= dojo.category %></p>
			<p>Início: <%= dojo.starts_at %></p>
			<p>Encerramento: <%= dojo.ends_at %></p>
			<%#=# link_to dojo.title, edit_dojo_path(dojo) %>
		</div>
	</div>
	</div>
</div>
