<div class="row">

	<div class="col-lg-offset-3">
		<div class="row">
			<iframe width="700" height="525" src="<%= video.source %>" style="border: none"></iframe>
		</div>

		<div class="row">
			<div class="col-lg-offset-5">
				<h2><%= dojo.title %></h2>
				<p><%= dojo.description %></p>
				<table class="table">
					<thead>
					    <tr>
					      <th>Categoria</th>
					      <th>Início</th>
					      <th>Encerramento</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td scope="row"><%= dojo.category %></td>
					      <td><%= dojo.description %></td>
					      <td><%= dojo.starts_at %></td>
					      <td><%= dojo.ends_at %></td>
					    </tr>
					  </tbody>
				</table> 
			</div>
		</div>
	</div>
</div>
