<iframe width="400" height="225" src="<%= video.source %>"></iframe>
<p><%= dojo.title %></p>
<p><%= dojo.category %></p>
<p> <%= dojo.starts_at %></p>
<p> <%= dojo.coding_time %></p>
<p> <%= dojo.break_time %></p>
