<%= stylesheet_link_tag 'dojos' %>

<div class="row">

	<div class="col-lg-offset-4">
		<div class="row">
			<iframe width="700" height="525" src="<%= video.source %>" style="border: none"></iframe>
		</div>

		<h2><%= dojo.title %></h2>
		<p>Esse dojo é incrível venham participar e aprender loucuras em programação!</p>

		<table>
		  <tr>
		    <td>Categoria</td>
		    <td><%= dojo.category %></td>
		  </tr>
		  <tr>
		    <td>Início</td>
		    <td><%= dojo.starts_at %></td>
		  </tr>
		  <tr>
		    <td>Encerramento</td>
		    <td><%= dojo.ends_at %></td>
		  </tr>
		  <tr>
		    <td>Sessão de Coding em minutos</td>
		    <td><%= dojo.coding_time %></td>
		  </tr>
		  <tr>
		    <td>Intervalo em minutos</td>
		    <td><%= dojo.break_time %></td>
		  </tr>
		</table>
	</div>
</div>
