<!DOCTYPE html>
<html>
  <head>
    <title>Codemat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <%= render partial: (current_user ? 'dashboard/header' : 'layouts/navbar') %>
    <div id="<%= current_user ? "page-wrapper" : "wrapper-content" %>">
      <div style="padding:1px;">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
